@import 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	position: relative;
	height: 100vh;
	font-family: 'Noto Sans', sans-serif;
	background-color: $bgc;
}

// sekcja z osobami
.aboutus {
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

	.cards {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1300px;
	}

	.card {
		position: relative;
		margin: 10px;
		height: 600px;
		width: 50%;
		text-align: center;
		background-position: center;
		background-size: cover;
		border-radius: 30px;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
		overflow: hidden;
	}

	.one {
		background-image: url('/img/woman-big.jpg');
	}

	.two {
		background-image: url('/img/man-1350599_big.jpg');
	}

	.three {
		background-image: url('/img/man-4672229_big.jpg');
	}

	button {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 10px;
		background: none;
		border: none;
		color: $white;
		font-size: 30px;
		text-shadow: 2px 2px 5px rgb(0, 0, 0);
		cursor: crosshair;
		z-index: 10;
	}

	button:hover ~ .text {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}

	.text {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 80px 30px;
		background-color: rgba(0, 0, 0, 0.65);
		color: $white;
		clip-path: polygon(0 50%, 100% 50%, 100% 95%, 0 95%);
		transition: clip-path 0.5s;
	}
	// absolute wyciąga z warstwy wizualnej, więc na cards musi być ustawiony width
	h2 {
		padding: 15px;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		color: $header;
	}

	h3 {
		margin-bottom: 30px;
		color: $header;
	}
}

// sekcja z krajami
.multi {
	background-color: #d4418e;
	background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
	color: $white;

	.cards {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1300px;
	}

	.card {
		position: relative;
		margin: 10px;
		height: 600px;
		width: 50%;
		text-align: center;
		border-radius: 30px;
		overflow: hidden;
		perspective: 800px;
	}

	.card:hover .text {
		transform: rotate(0);
		opacity: 1;
	}

	.card:hover .one {
		transform: rotateX(180);
		opacity: 1;
	}
	.card:hover .two {
		transform: rotateY(180);
		opacity: 1;
	}

	.card:hover .three {
		animation: up 0.8s;
	}

	.card:hover .text-three {
		animation: down 0.8s;
	}

	.img {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		transition: 0.5s;
	}

	.one {
		background-image: url('/img/saint-isaac-cathedral-big.jpg');
	}

	.two {
		background-image: url('/img/sea-big.jpg');
	}

	.three {
		background-image: url('/img/new-york-big.jpg');
	}

	.text {
		position: absolute;
		padding: 10px;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
		border-radius: 15px;
		transition: 0.8s;
		opacity: 0;
	}

	h2 {
		padding: 15px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: $header;
	}

	h3 {
		margin-top: 450px;
		margin-bottom: 20px;
		color: $header;
	}

	.text-one {
		background-color: #861657;
		background-image: linear-gradient(315deg, #861657 0%, #aa4465 74%);
		transform: rotateX(-180deg);
	}

	.text-two {
		background-color: #03e5b7;
		background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
		transform: rotateY(-180deg);
	}

	.text-three {
		background-color: #ef5734;
		background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
	}
}

.portfolio-card {
	background-color: #5ca0f2;
	background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
	color: $white;
	h2 {
		padding: 15px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: $header;
	}

	.card {
		position: relative;
		width: 1300px;
		height: 750px;
		border-radius: 30px;
		overflow: hidden;
		animation: fade 2s;
	}

	.bg-img {
		width: 100%;
		height: 750px;
		background-image: url('/img/rainbow-small.jpg');
		background-size: cover;
		background-position: center;
	}

	.woman {
		position: absolute;
		right: 0;
		bottom: -750px;
		width: 500px;
		animation: move 2s forwards;
	}

	h3 {
		position: absolute;
		top: 60px;
		left: 60px;
		font-size: 0;
		text-transform: uppercase;
	}

	h3 span {
		display: inline-block;
		font-size: 50px;
		color: $white;
		text-shadow: 3px 3px 3px black;
		animation: swift 2s linear forwards;
		opacity: 0;
	}

	h3 span:nth-child(2) {
		animation-delay: 1.25s;
	}
	h3 span:nth-child(3) {
		animation-delay: 1.5s;
	}
	h3 span:nth-child(4) {
		animation-delay: 1.75s;
	}
	h3 span:nth-child(5) {
		animation-delay: 2s;
	}
	h3 span:nth-child(6) {
		animation-delay: 2.25s;
	}
	h3 span:nth-child(7) {
		animation-delay: 2.5;
	}
	h3 span:nth-child(8) {
		animation-delay: 3s;
	}
}

@keyframes up {
	0% {
		transform: translateX(0);
		opacity: 1;
	}

	50% {
		transform: translateX(-60%);
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes down {
	0% {
		transform: translateX(0);
		z-index: -1;
	}

	50% {
		transform: translateX(60%);
		z-index: -1;
	}

	100% {
		z-index: 1;
	}
}

@keyframes move {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
		bottom: 0;
	}

	100% {
		bottom: 0;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes swift {
	from {
		transform: rotateX(90deg);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}
