* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  background-color: beige;
}

.aboutus {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

.aboutus .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1300px;
}

.aboutus .card {
  position: relative;
  margin: 10px;
  height: 600px;
  width: 50%;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.aboutus .one {
  background-image: url("/img/woman-big.jpg");
}

.aboutus .two {
  background-image: url("/img/man-1350599_big.jpg");
}

.aboutus .three {
  background-image: url("/img/man-4672229_big.jpg");
}

.aboutus button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: none;
  border: none;
  color: antiquewhite;
  font-size: 30px;
  text-shadow: 2px 2px 5px black;
  cursor: crosshair;
  z-index: 10;
}

.aboutus button:hover ~ .text {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.aboutus .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 80px 30px;
  background-color: rgba(0, 0, 0, 0.65);
  color: antiquewhite;
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 95%, 0 95%);
          clip-path: polygon(0 50%, 100% 50%, 100% 95%, 0 95%);
  -webkit-transition: -webkit-clip-path 0.5s;
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}

.aboutus h2 {
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: gold;
}

.aboutus h3 {
  margin-bottom: 30px;
  color: gold;
}

.multi {
  background-color: #d4418e;
  background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
  color: antiquewhite;
}

.multi .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1300px;
}

.multi .card {
  position: relative;
  margin: 10px;
  height: 600px;
  width: 50%;
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.multi .card:hover .text {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1;
}

.multi .card:hover .one {
  -webkit-transform: rotateX(180);
          transform: rotateX(180);
  opacity: 1;
}

.multi .card:hover .two {
  -webkit-transform: rotateY(180);
          transform: rotateY(180);
  opacity: 1;
}

.multi .card:hover .three {
  -webkit-animation: up 0.8s;
          animation: up 0.8s;
}

.multi .card:hover .text-three {
  -webkit-animation: down 0.8s;
          animation: down 0.8s;
}

.multi .img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.multi .one {
  background-image: url("/img/saint-isaac-cathedral-big.jpg");
}

.multi .two {
  background-image: url("/img/sea-big.jpg");
}

.multi .three {
  background-image: url("/img/new-york-big.jpg");
}

.multi .text {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
}

.multi h2 {
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: gold;
}

.multi h3 {
  margin-top: 450px;
  margin-bottom: 20px;
  color: gold;
}

.multi .text-one {
  background-color: #861657;
  background-image: linear-gradient(315deg, #861657 0%, #aa4465 74%);
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.multi .text-two {
  background-color: #03e5b7;
  background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.multi .text-three {
  background-color: #ef5734;
  background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
}

.portfolio-card {
  background-color: #5ca0f2;
  background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
  color: antiquewhite;
}

.portfolio-card h2 {
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: gold;
}

.portfolio-card .card {
  position: relative;
  width: 1300px;
  height: 750px;
  border-radius: 30px;
  overflow: hidden;
  -webkit-animation: fade 2s;
          animation: fade 2s;
}

.portfolio-card .bg-img {
  width: 100%;
  height: 750px;
  background-image: url("/img/rainbow-small.jpg");
  background-size: cover;
  background-position: center;
}

.portfolio-card .woman {
  position: absolute;
  right: 0;
  bottom: -750px;
  width: 500px;
  -webkit-animation: move 2s forwards;
          animation: move 2s forwards;
}

.portfolio-card h3 {
  position: absolute;
  top: 60px;
  left: 60px;
  font-size: 0;
  text-transform: uppercase;
}

.portfolio-card h3 span {
  display: inline-block;
  font-size: 50px;
  color: antiquewhite;
  text-shadow: 3px 3px 3px black;
  -webkit-animation: swift 2s linear forwards;
          animation: swift 2s linear forwards;
  opacity: 0;
}

.portfolio-card h3 span:nth-child(2) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.portfolio-card h3 span:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.portfolio-card h3 span:nth-child(4) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.portfolio-card h3 span:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.portfolio-card h3 span:nth-child(6) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

.portfolio-card h3 span:nth-child(7) {
  -webkit-animation-delay: 2.5;
          animation-delay: 2.5;
}

.portfolio-card h3 span:nth-child(8) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: -1;
  }
  50% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: -1;
  }
  50% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}

@keyframes move {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes swift {
  from {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swift {
  from {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */